*.parquet
*.png
*.pdf
*.root
*.pyc
CMSSW_12_4_8/.SCRAM/
CMSSW_12_4_8/biglib/
CMSSW_12_4_8/bin/
CMSSW_12_4_8/cfipython/
CMSSW_12_4_8/config/
CMSSW_12_4_8/doc/
CMSSW_12_4_8/external/
CMSSW_12_4_8/include/

CMSSW_12_4_8/lib/
CMSSW_12_4_8/logs/
CMSSW_12_4_8/objs/
CMSSW_12_4_8/python/
CMSSW_12_4_8/static/

CMSSW_12_4_8/test/
CMSSW_12_4_8/tmp/
genInclusiveSV